#balances table {
    border:1px solid #3366CC;
    border-collapse:collapse;
    border-spacing:0;
    clear:right;
    margin:1em 0 0 1px;
    empty-cells:show;
    font-size: 1em;
}

#balances td, #balances th {
    border-bottom:1px solid #BBBBBB;
}

#balances thead, tbody, tfoot, tr, th, td {
    border: 0 none;
    margin: 0;
    padding: 0;
}

#balance .bars td {
    margin:0;
    padding:0;
}

#balance td {
    padding:2px 0 1px;
    text-align:right;
    white-space:nowrap;
}

.glight {
    background-color:#ACF4AC;
}

.rlight {
    background-color:#FFCEBE;
}
