@charset "utf-8";

#nav {padding-top:3px;}
#nav a{float:left; display:block; text-decoration: none; color:#368332; font-size:14px; margin:2px 5px 0 5px; padding: 8px 4px 7px 4px; line-height:14px; }
#nav a:hover{ background-color:transparent; text-decoration:underline; }
#nav a.now { font-size:14px; margin:2px 5px 0 5px;float:left; display:block; background:url(/images/headnavback.gif) no-repeat scroll right top #eef9eb; padding:0 10px 0 0; color:black;}
#nav a.now span { background: transparent url(/images/headnavback.gif) no-repeat; display: block; padding: 8px 1px 7px 11px; }
