  <div class="itemlst clearbox">
    <div class="itemlstin">
      {% for item in items %}
      <div class="item">
        <div class="photo">
          <a href="/image/{{item.photo.key.id}}" class="itemlst_photo" title="{{item.photo.name}}">
            <img src="/thumb/{{item.photo.key.id}}" class="photo" alt="{{item.photo.name}}" />
	  </a>
        </div>
        <span class="orderbtn gract">{{item.name}}</span>
        <span class=price>{{item.price}}</span>
      </div>
      {% endfor %}
    </div>
  </div>
