{% extends "base.html" %}
{% block title %}Adding new dish{% endblock %}
{% block body %}
<script language="javascript">
//<![CDATA[
$(document).ready(function () {
  $("#id_name").blur(function () {
    $.ajax({
      type: "get",
      url:  "/u/check-username",
      data: "username="+this.value,
      dataType: "json",
      contentType: "application/json; charset=utf-8",
      beforeSend: function() {
        $("#username_validator").removeClass("error").addClass("okay").text("checking availability...");
      },
      complete: function() {
        $("#username_validator").text("");
      },
      success: function (msg) {
        if (msg.is_available) {
          $("#username_validator").removeClass("error").addClass("okay").text("username available");
        } else {
          $("#username_validator").removeClass("okay").addClass("error").text("username unavailable");
        }
      }
    });
  });
})
//]]>
</script>

<form action="/u/register" method="post">
  <div class="user">
    {{ form.name.errors }}
    <label for="id_name">Name:</label>
    {{ form.name }}
    <span id="username_validator"></span>
  </div>

  <div class="groups">
    {% for group in groups %}
    {{group.name}}<input type="checkbox" name="group" value="{{group.key.id}}" /> <br />
    {% endfor %}
  </div>
 
  <div><input name="submit" type="submit" value="add" /></div>
  <div><input name="cancel" type="submit" value="cancel" /></div>
</form>
{% endblock %}
