<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="food, meal" />
    <meta name="description" content="Order your lunch in a group" />
    <title>{% block title %}Bean Paste{% endblock %}</title>
    <script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
    <link type="text/css" href="/css/base.css" rel="stylesheet" />
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block header %}
    <div id="header">
      <div class="login">
        {% if user %}
        <span class="nickname">{{ user.nickname }}</span> |
        <span><a href="{{ logout_url|escape }}">Sign out</a></span>
        {% else %}
        <span><a href="{{ login_url|escape }}">Sign in</a></span>
        {% endif %}
      </div>
    </div>
    {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}
  </body>
</html>
