{% extends "base.html" %}

{% block title %}Group Profile for {{group.name}} {% endblock %}

{% block head %}{% endblock %}

{% block body %}
<form action="#" method="post">      

  <table cellspacing="0">
    <tbody>
      <tr>
        <td><label for="id_name">Group Name:</label></td>
        <td>{% if group.name %} {{group.name}} {% endif %} </td>
      </tr>

      <tr>
        <td><label for="id_leader">Leader:</label></td>
        <td>{%if group.leader %} {{group.leader}} {%endif %}</td>
      </tr>
      
     {% for member in group.members %}
      <tr>
        <td><label> Member: </label></td>
        <td><label> {{ member|user_key2name }} </label></td>
      </tr>
      {% endfor %}

      <tr>
        <td><label> Add member: </label></td>
        <td><input type="text" name="member" /></td>
      </tr>
    </tbody>
  </table>
  
  <div><input name="submit" type="submit" value="add"/></div>
  <div><input name="cancel" type="submit" value="cancel"/></div>
</form>
{% endblock %}
