<script type="text/javascript">
//<![CDATA[
  $("#purchase_form").ready(function() {
      $('#purchase_form').each(function(i) {
          init_purchase_form(this);
      });
  });
//]]>
</script>

<form id="purchase_form" method="post" action="/e/{{event.key.id}}/entry">
  <table>
  <input type="text" style="width: 250px;" name="tags" />
  {% include 'includes/list_item.html' %}
  <span style="float:left">
    <input type="submit" name="submit" value="done" />
  </span>
  </div>
  </table>
</form>
