{% extends "base.html" %}

{% block title %} Adding a new group {% endblock %}
{% block head %}
{% endblock %}

{% block body %}
<script type="text/javascript">
    var GB_ROOT_DIR = "/greybox/";

    $(function () {
      $("a.gbshow", this).click(function() {
         return GB_show(this.innerHTML, this.href);
     });
    });
    
</script>
<script type="text/javascript" src="/greybox/AJS.js"></script>
<script type="text/javascript" src="/greybox/AJS_fx.js"></script>
<script type="text/javascript" src="/greybox/gb_scripts.js"></script>
<link href="/greybox/gb_styles.css" rel="stylesheet" type="text/css" />    


  <div class="itemlst clearbox">
    <div class="itemlstin">
    {% for item in items %}
    <div class="item">
      <div class="photo">
	<a href="/image/{{item.photo.key.id}}" class="itemlst_photo" title="{{item.photo.name}}">
	  <img src="/thumb/{{item.photo.key.id}}" class="photo" alt="{{item.photo.name}}" />
	</a>
      </div>
      <a href="/v/{{vendor}}/item/{{item.name}}/profile" class="gbshow">{{item.name}}</a>
       | {{item.price}}
    </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}