{% extends "base.html" %}

{% block title %}Group List{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
  <table cellspacing="0" id="groups">
    <thead>
      <tr>
        <th>Name</th> <th>Leader</th> <th>Members</th>
      </tr>
    </thead>
      <tbody>
      {% for group in groups %}
      <tr>
        <td> <a href="/g/{{group.name}}/profile"> {{group.name}} </a></td>
        
        <td> <a href="/u/{{group.leader}}/profile"> {{group.leader}} </a></td>
        
        <td>
          {% for member in group.members %}
          <a href="/u/{{member|user_key2name}}/">{{ member|user_key2name }}</a>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
{% endblock %}
