{% extends "base.html" %}
{% block title %}Bean FS{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
  <ul>
    <li><a href="/u/mine/profile">My profile</a></li>
    <li><a href="/u/register">Sign up</a></li>
    <li><a href="/v/all">list vendor</a></li>
    <li><a href="/v/entry">add vendor</a></li>
    <li><a href="/v/foo/item/list">list item in 'foo'</a></li>
    <li><a href="/v/foo/item/entry">add item in 'foo'</a></li>
    <li><a href="/g/add_group">add group</a></li>
    <li><a href="/g/list_group">list group</a></li>
  </ul>
{% endblock %}
