  {% extends "base.html" %}
  {% block head %}
    <link type="text/css" href="/css/vtab.css" rel="stylesheet" />
    <link type="text/css" href="/css/item_list.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
    <!-- <script type="text/javascript" src="/js/jquery-1.3.2.js"></script> -->
    <script type="text/javascript" src="/js/ui/ui.core.js"></script>
    <script type="text/javascript" src="/js/ui/ui.tabs.js"></script>
    <script type="text/javascript">
      $(function() {
        $("#tabs").tabs().addClass('ui-tabs-vertical ui-helper-clearfix');
        $("#tabs li").removeClass('ui-corner-top').addClass('ui-corner-left');
      });

    </script>

<script type="text/javascript">
  var group_members = new Array();
  var imember = 0;
  {% for member in group.members %}
    group_members[imember] = "{{ member|user_key2name }}";
    imember++;
  {% endfor %}
  
  var gen_options = function (id, members) {
    var member_selections = '<select xxxx>';
    
    for (var i in members) {
      member_selections = member_selections + '<option>' + members[i] +'</option>';
    }
    member_selections = member_selections + '</select>';
    document.getElementById(id).innerHTML = member_selections;
  }

</script>

  {% endblock %}
  {% block title %}Put your order{% endblock %}
  {% block body %}
    <div id="tabs">
      <ul>
	{% for vendor in vendors %}
	<li>
	  <a href="{{ vendor.name|vendors_items_uri|escape }} "><span>{{ vendor.name|escape }}</span></a>
	</li>
	{% endfor %}
      </ul>
    </div>
  {% endblock %}

