  {% extends "base.html" %}
  {% block head %}
    <link type="text/css" href="/css/vtab.css" rel="stylesheet" />
    <link type="text/css" href="/css/item_list.css" rel="stylesheet" />
    <!-- <script type="text/javascript" src="/js/jquery-1.3.2.js"></script> -->
    <script type="text/javascript" src="/js/json2.js"></script>
    <script type="text/javascript" src="/js/ui/ui.core.js"></script>
    <script type="text/javascript" src="/js/ui/ui.tabs.js"></script>
    <script type="text/javascript">
      $(function() {
        $("#tabs").tabs().addClass('ui-tabs-vertical ui-helper-clearfix');
        $("#tabs li").removeClass('ui-corner-top').addClass('ui-corner-left');
        $("#tabs").tabs('select', {{ default_vendor }});
      });
    </script>
    <script type="text/javascript" src="/js/purchase.js"></script>
  {% endblock %}
  {% block title %}Put your order{% endblock %}
  {% block body %}
    <div id="tabs">
      <ul>
	{% for vendor in vendors %}
	<li>
	  <a href="{{ vendor.name|vendors_items_uri|escape }}?event={{event.key.id}}"><span>{{ vendor.name|escape }}</span></a>
	</li>
	{% endfor %}
      </ul>
    </div>
  {% endblock %}
