{% extends "base.html" %}
{% block head %}
<link type="text/css" href="css/balance.css" rel="stylesheet" />
{% endblock %}
{% block title %}Viewing user profile{% endblock %}

{% block body %}

<div id="user">
  {{ user.name }} | {{ user.balance }} | {{ user.who }}
</div>

Your groups:
<div class="groups">
  <form action="/u/join" name="join_group" method="post">
  {% for group in groups %}
  {{group.name}}<input type="checkbox" name="group" value="{{group.key.id}}" {% if group.has_current_user %} checked="checked" {% endif %} /> <br />
  {% endfor %}
  </form>
</div>
<h2>Balances</h2>
{% include "includes/user_balance.html" %}
<h2>Events</h2>
{% include "includes/user_events.html" %}

{% endblock %}
